body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Set up the layout so that sidebar is on the left and content is on the right */
/* Allow the sidebar to be resizable */
/* Default size for the sidebar is 20% of the window width */

main {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  resize: horizontal;
  border-right: 1px solid #ccc;
}

#content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}


